.table-container {
  width: 80%;
  margin: 30px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
}
button {
  margin-right: 5px;
  padding: 5px 10px;
}
